# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Env
.env*.local
.env

# IDE
.idea/
.vscode/

# Logs
*.log

# Testing
coverage/

# Duplicate project folders
NCAP_AI- modified/
NCAP_AI-*/
NCAP_AI-
